*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Hanken Grotesk";
    src: url("assets\fonts\static\HankenGrotesk-Medium.ttf");
    font-weight: 800;
}
body{
    background-color: hsl(221, 100%, 96%);
    justify-items: center;
    place-content: center;
    min-height: 100vh;
}

@media screen and (max-width: 375px) {
    
.container{
    display: grid;
    grid-template-rows: 0.7fr 1fr;
    background-color: #ffff;
}
.section1{
    padding: 40px;
    background-image: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 45px;
    justify-items: center;
    text-align: center;
    height: 40vh;
 
    
}
.sec1-p1{
    font-family: "Hanken Grotesk",sans-serif;
    font-weight: 600;
    color: hsl(241, 100%, 89%);
    font-size: 17px;
    margin-bottom: 30px; 
}
.sec1-p2{
    color: hsl(241, 100%, 89%);
     font-size: 20px; margin-bottom: 10px; font-weight: 600;
}
.sec1-p3{
    color: hsl(241, 100%, 89%);
    width: 250px; font-size: 15px; text-align: center; font-weight: 400;
}
.section1 p{
    font-family: "Hanken Grotesk", sans-serif;
    color: hsl(241, 100%, 89%);
    justify-content: center;
}
.circle-container{
    background-image: linear-gradient(to top, hsla(241, 72%, 46%, 0), hsla(256, 72%, 46%, 1));
    border-radius: 100px;
    width: 150px;
    height: 150px;
    text-align: center;
    margin-bottom: 30px;
}
.circle-p1{
    font-family: "Hanken Grotesk", sans-serif;
    padding-top: 30px; font-size: 50px; font-weight: 800; 
}
.circle-p2{
    font-family: "Hanken Grotesk", sans-serif; font-size: 15px;
    color: hsl(240, 12%, 27%);

}

.section2{
    padding: 30px;
    border-radius: 25px;
    height: 45vh;
}
.section2 span{
    color: hsl(240, 3%, 47%);
}
.sec2-heading{
    font-family: "Hanken Grotesk", sans-serif; font-size: 17px; font-weight: 600;  margin-bottom: 30px;
}
.sec2-div1{
    font-family: "Hanken Grotesk", sans-serif; padding: 10px; background-color: hsla(0, 100%, 67%, 0.1); display: flex; justify-content: space-between; margin-bottom: 20px; border-radius: 10px;
}
.sec2-div2{
    font-family: "Hanken Grotesk", sans-serif; background-color: hsla(39, 100%, 56%, 0.1); padding: 10px;  display: flex; justify-content: space-between; margin-bottom: 20px; border-radius: 10px;
}
.sec2-div3{
    font-family: "Hanken Grotesk", sans-serif; padding: 10px; background-color: hsla(166, 100%, 37%, 0.1); display: flex; justify-content: space-between; margin-bottom: 20px; border-radius: 10px;
}
.sec2-div4{
    font-family: "Hanken Grotesk", sans-serif; padding: 10px; background-color: hsla(234, 85%, 45%, 0.1); display: flex; justify-content: space-between; margin-bottom: 30px; border-radius: 10px;
}
.sec2-con{
    display: flex;
}
.sec2-div-con{
    font-weight: 600; padding-left: 10px;
}
.sec2-div1-color{
    color: hsl(0, 100%, 67%); 
}
.sec2-div2-color{
    color: hsl(39, 100%, 56%);
}
.sec2-div3-color{
    color:hsl(166, 100%, 37%);
}
.sec2-div4-color{
    color: hsl(234, 85%, 45%);
}
.sec2-number{
    font-weight: 600;
}
.sec2-btn{
    padding: 10px; width: 100%; border-radius: 30px; background-color: hsl(224, 30%, 27%); color: white; font-weight: 800;
}
.sec2-btn:hover{
    background-image: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
}
}

@media screen and (min-width: 376px ) {
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #ffff;
        width: 102vb;
    }
    .section1{
        padding: 50px;
        background-image: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
        border-radius: 25px;
        justify-items: center;
        text-align: center;
        width: 40vb;
    
        
    }
    .sec1-p1{
        font-family: "Hanken Grotesk",sans-serif;
        font-weight: 600;
        color: hsl(241, 100%, 89%);
        font-size: 27px;
        margin-bottom: 30px; 
    }
    .sec1-p2{
        color: white; font-size: 30px; margin-bottom: 20px; font-weight: 600;
    }
    .sec1-p3{
        text-align: center; font-weight: 600;
    }
    .section1 p{
        font-family: "Hanken Grotesk", sans-serif;
        color: hsl(241, 100%, 89%);
        justify-content: center;
    }
    .circle-container{
        background-image: linear-gradient(to top, hsla(241, 72%, 46%, 0), hsla(256, 72%, 46%, 1));
        border-radius: 100px;
        width: 200px;
        height: 200px;
        text-align: center;
        margin-bottom: 30px;
    }
    .circle-p1{
        font-family: "Hanken Grotesk", sans-serif;
        padding-top: 40px; font-size: 70px; font-weight: 800; color: white;
    }
    .circle-p2{
        font-family: "Hanken Grotesk", sans-serif;
        font-weight: 400;
    }
    
    .section2{
        padding: 30px;
        border-radius: 25px;
        width: 40vb;
    }
    .section2 span{
        color: hsl(240, 3%, 47%);
    }
    .sec2-heading{
        font-family: "Hanken Grotesk", sans-serif; font-size: 25px; font-weight: 600;  margin-bottom: 30px;
    }
    .sec2-div1{
        font-family: "Hanken Grotesk", sans-serif; padding: 20px; background-color: hsla(0, 100%, 67%, 0.1); display: flex; justify-content: space-between; margin-bottom: 20px; border-radius: 10px;
    }
    .sec2-div2{
        font-family: "Hanken Grotesk", sans-serif; background-color: hsla(39, 100%, 56%, 0.1); padding: 20px;  display: flex; justify-content: space-between; margin-bottom: 20px; border-radius: 10px;
    }
    .sec2-div3{
        font-family: "Hanken Grotesk", sans-serif; padding: 20px; background-color: hsla(166, 100%, 37%, 0.1); display: flex; justify-content: space-between; margin-bottom: 20px; border-radius: 10px;
    }
    .sec2-div4{
        font-family: "Hanken Grotesk", sans-serif; padding: 20px; background-color: hsla(234, 85%, 45%, 0.1); display: flex; justify-content: space-between; margin-bottom: 30px; border-radius: 10px;
    }
    .sec2-con{
        display: flex;
    }
    .sec2-div-con{
        font-weight: 600; padding-left: 10px;
    }
    .sec2-div1-color{
        color: hsl(0, 100%, 67%); 
    }
    .sec2-div2-color{
        color: hsl(39, 100%, 56%);
    }
    .sec2-div3-color{
        color:hsl(166, 100%, 37%);
    }
    .sec2-div4-color{
        color: hsl(234, 85%, 45%);
    }
    .sec2-number{
        font-weight: 400;
    }
    .sec2-btn{
        padding: 20px; width: 100%; border-radius: 30px; background-color: hsl(224, 30%, 27%); color: white; font-weight: 800;
    }
    .sec2-btn:hover{
        background-image: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
    }
}